{% extends 'template/jhTemplateV3.html'%}

<!-- 3 table：指定某个 student，管理 class 的页面 -->


<!-- vue template 代码块 -->
{% block vue_template %}
<jh-layout-v3>

<template slot="breadcrumbsTitle">
  <div style="white-space: nowrap">
    学生【{{ title }}】的班级管理
    <span style="font-size: 14px;" >(ID: {{ studentId }})</span>
  </div>
</template>
<v-container class="fullScreen d-flex flex-column pa-0">
  <v-card :class="{'px-2': isMobile}">
    <v-row class="ma-0 align-center flex-none pt-0 "
           :class="{'pa-4': !isMobile, 'pb-0': !isMobile, 'pa-2': isMobile}">
      <v-col cols="12" xs="12" sm="4" md="4" xl="4" class="pl-0 ">
        <v-btn dark color="success" @click="isAllotEditDrawerShow = true" class="elevation-0 mr-2">分配新班级</v-btn>
        <span class="body-2">共{{ tableData.length }}条记录</span>
      </v-col>
      <v-spacer></v-spacer>
      <v-col cols="12" xs="12" sm="4" md="3" xl="3" class="px-0">
        <v-text-field dense filled single-line v-model="searchInput" color="success" prefix="表格过滤："
                      class="cus-v-input"></v-text-field>
      </v-col>
    </v-row>
    <v-data-table fixed-header :headers="headers" :items="tableData" :search="searchInput"
                  :footer-props="{ itemsPerPageOptions: [20, 40, 60, 100, -1] }" :items-per-page="20"
                  :loading="isTableLoading" checkbox-color="success" mobile-breakpoint="0" :class="{'mx-2': isMobile}"
                  class="elevation-0 mt-0 mb-xs-4 flex-fill d-flex flex-column">
      <template v-slot:item.operationAt="{ item }">
        {{ item.operationAt && dayjs(item.operationAt).format('YYYY-MM-DD HH:mm:ss') }}
      </template>
      <template v-slot:item.action="{ item }">
        <v-btn small class="success" @click="doUiAction('startUpdateItem', {item})">
          编辑
        </v-btn>
        <v-btn small class="error" @click="doUiAction('deleteRelation', {item})">
          删除
        </v-btn>
      </template>
    </v-data-table>
  </v-card>

</v-container>


<v-navigation-drawer v-model="isAllotEditDrawerShow" :permanent="isAllotEditDrawerShow" fixed temporary right
                     touchless width="80%"  class="elevation-24">
  <v-container class="navDrawerContainer">
    <v-row class="pt-8" :class="{'px-4': isMobile, 'px-12': !isMobile}">
      <v-btn class="mt-0" dark color="success" elevation="0" @click="doUiAction('allotItem')">保存选中</v-btn>
      <v-spacer></v-spacer>
      <v-btn class="mt-0 elevation-0" fab x-small @click="isAllotEditDrawerShow = false">
        <v-icon dark>mdi-close</v-icon>
      </v-btn>
    </v-row>
    <v-row class="pa-2 py-0">
      <v-data-table show-select checkbox-color="success" :headers="drawerHeaders"
                    :loading="isDrawerTableLoading" :items="drawerTableData" item-key="classId"
                    :footer-props="{ itemsPerPageOptions: [20, 40, 60, 100, -1] }" :items-per-page="20"
                    mobile-breakpoint="0" @item-selected="drawerItemSelected"
                    @toggle-select-all="drawerToggleSelectAll"
                    class="elevation-0 flex-fill d-flex flex-column show-select pt-6"
                    :class="{'px-2': isMobile, 'px-8': !isMobile}">
        <template v-slot:item.action="{ item }">
          <v-btn small dark class="success"
                 @click="doUiAction('buildRelation', {item})">新增
          </v-btn>
        </template>
      </v-data-table>
    </v-row>
  </v-container>
</v-navigation-drawer>

<!-- 编辑抽屉 -->
<v-navigation-drawer v-model="isEditDrawerShow" :permanent="isEditDrawerShow" fixed temporary right width="80%" 
                     class="elevation-24">
  <v-form v-model="isFormValid" v-if="isEditDrawerShow" ref="form" lazy-validation>
    <v-row class="pt-8">
      <span class="title pa-6" :class="{'pl-12': !isMobile, 'pl-6': isMobile}">编辑信息</span>
      <v-spacer></v-spacer>
      <v-btn class="mt-7 mr-8 elevation-0" :class="{'mr-16': !isMobile, 'mr-8': isMobile}" fab x-small
             @click="isEditDrawerShow = false">
        <v-icon dark>mdi-close</v-icon>
      </v-btn>
    </v-row>
    <v-row :class="{'px-10': !isMobile, 'px-3': isMobile, 'pb-7': isMobile}">

      <v-col cols="12" sm="12" md="4" :class="{'pa-0': isMobile, 'px-3': isMobile, 'pt-6': isMobile}">
        <span class="inputLabel">学生ID</span>
        <v-text-field class="cus-v-input mr-2" dense filled single-line label="学生ID"
                      v-model="editItem['studentId']"></v-text-field>
      </v-col>
      <v-col cols="12" sm="12" md="4" :class="{'pa-0': isMobile, 'px-3': isMobile, 'pt-6': isMobile}">
        <span class="inputLabel">班级ID</span>
        <v-text-field class="cus-v-input mr-2" dense filled single-line label="班级ID"
                      v-model="editItem['classId']"></v-text-field>
      </v-col>
      <v-col cols="12" sm="12" md="4" :class="{'pa-0': isMobile, 'px-3': isMobile, 'pt-6': isMobile}">
        <span class="inputLabel">备注</span>
        <v-text-field class="cus-v-input mr-2" dense filled single-line label="备注"
                      v-model="editItem['remark']"></v-text-field>
      </v-col>
    </v-row>
    <v-row class="justify-end mx-0 mt-8" :class="{'px-10': !isMobile, 'px-3': isMobile, 'mb-8': isMobile}">
      <v-btn color="success" @click="doUiAction('updateItem')">保存</v-btn>
      <v-btn class="elevation-0 mr-2 ml-2" @click="isEditDrawerShow = false">取消</v-btn>
    </v-row>
  </v-form>
</v-navigation-drawer>
</jh-layout-v3>
{% endblock %}

{% block vue_body %}

<script type="module">

new Vue({
  el: '#app',
  template: '#app-template',
  vuetify: new Vuetify(),
  data: () => ({
    isMobile: window.innerWidth < 600,
    studentId: null,
    title: null,
    searchInput: null,
    isTableLoading: true,
    isDrawerTableLoading: true,
    isAllotEditDrawerShow: false,
    isEditDrawerShow: false,
    headers: [
      {text: '学生ID', value: 'studentId', width: 120},
      {text: '班级ID', value: 'classId', width: 120},
      {text: '备注', value: 'remark', width: 120},
      {text: "操作者", value: "operationByUser", width: 120},
      {text: "操作时间", value: "operationAt", width: 250},
      {text: '操作', value: 'action', align: 'center', sortable: false, width: 200, class: 'fixed', cellClass: 'fixed'},
    ],
    drawerHeaders: [
      {text: '班级ID', value: 'classId', width: 120},
      {text: '门派ID', value: 'menPaiId', width: 120},
      {text: '门派名', value: 'menPaiName', width: 120},
      {text: '备注', value: 'remarks', width: 120},
      {text: '班级状态', value: 'classStatus', width: 120},
      {text: "操作者", value: "operationByUser", width: 120},
      {text: '操作', value: 'action', align: 'center', sortable: false, width: 200, class: 'fixed', cellClass: 'fixed'},
    ],
    drawerTableData: [],
    drawerTableDataFromBackend: [],
    tableData: [],
    tableDataFromBackend: [],
    drawerItemSelectedClass: [],
    isFormValid: true,
    requireRules: [
      v => !!v || 'This is required',
    ],
    constantCollection: {},
    editItem: {}
  }),
  watch: {},
  async created() {
    const urlParams = new URLSearchParams(location.search);
    const studentId = urlParams.get('studentId');
    const title = urlParams.get('title');
    if (studentId && title) {
      this.studentId = studentId;
      this.title = title;
    } else {
      setTimeout(() => {
        window.vtoast.fail('请从"学生列表"点击"班级"进入');
      }, 1000);
      return;
    }
    await this.doUiAction('refreshTableData');
    await this.doUiAction('getDrawerTableData');
  },
  mounted() {
  },
  methods: {
    async doUiAction(uiActionId, uiActionData) {
      switch (uiActionId) {
        case 'refreshTableData':
          await this.refreshTableData();
          break;
        case 'getDrawerTableData':
          await this.getDrawerTableData();
          await this.buildDrawerTableData();
          break;
        case 'allotItem':
          await this.confirmAllotItemDialog();
          await this.doAllotItem();
          await this.refreshTableData();
          await this.buildDrawerTableData();
          break;
        case 'buildRelation':
          await this.confirmAllotItemDialog();
          await this.doBuildRelation(uiActionData);
          await this.refreshTableData();
          await this.buildDrawerTableData();
          break;
        case 'startUpdateItem':
          await this.prepareItemData(uiActionData);
          await this.openUpdateDialog();
          break;
        case 'updateItem':
          await this.confirmUpdateItemDialog();
          await this.doUpdateItem();
          await this.refreshTableData();
          await this.buildDrawerTableData();
          await this.closeDrawerShow();
          break;
        case 'deleteRelation':
          await this.confirmDeleteItemDialog();
          await this.doDeleteRelation(uiActionData);
          await this.refreshTableData();
          await this.buildDrawerTableData();
          break;
        default:
          console.error("[doUiAction] uiActionId not find", {uiActionId});
          break;
      }
    },
    // 获取所有学生的数据
    /**
     * uiActionId:  refreshTableData
     * description: ✅获取表格数据
     * main:   [{"function":"refreshTableData"}]
     */
    async refreshTableData() {
      this.isTableLoading = true;
      const result = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'classManagementOfOneStudent',
            actionId: 'selectCurrentList',
            where: {studentId: this.studentId},
            orderBy: [{column: 'operationAt', order: 'desc'}]
          }
        }
      });
      this.tableData = result.data.appData.resultData.rows;
      this.tableDataFromBackend = result.data.appData.resultData.rows;
      this.isTableLoading = false;
    },

    // 获取所有班级的数据
    /**
     * uiActionId:  getDrawerTableData
     * description: ✅获取内表格数据
     * main:   [{"function":"getDrawerTableData"}]
     */
    async getDrawerTableData() {
      this.isDrawerTableLoading = true;
      const result = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'classManagementOfOneStudent',
            actionId: 'selectAllList',
            orderBy: [{column: 'operationAt', order: 'desc'}]
          }
        }
      });
      this.drawerTableDataFromBackend = result.data.appData.resultData.rows;
      this.isDrawerTableLoading = false;
    },


    buildDrawerTableData() {
      if (_.isEmpty(this.drawerTableDataFromBackend)) {
        this.drawerTableData = [];
      } else {
        this.drawerTableData = _.differenceBy(this.drawerTableDataFromBackend, this.tableData, 'classId');
      }
    },

    /**
     * uiActionId:  allotItem
     * description: ✅获取表格数据
     * main:   [{"function":"confirmAllotItemDialog"},{"function":"doAllotItem"}]
     */

    async confirmAllotItemDialog() {
      this.isAllotEditDrawerShow = true;
      if (await window.confirmDialog({title: "确定将班级分配给此学生吗", content: "确定分配吗？"}) === false) {
        throw new Error("[confirmAllotItemDialog] 否");
      }
    },
    async doAllotItem() {
      this.isAllotEditDrawerShow = false;
      for (let i = 0; i < this.drawerItemSelectedClass.length; i++) {
        window.vtoast.loading(`正在新增 第${i + 1}个`);
        const {classId} = this.drawerItemSelectedClass[i];
        await this.buildRelationImpl(classId);
      }
      window.vtoast.success("批量新增成功");
      this.drawerItemSelectedClass = [];
    },

    /**
     * uiActionId:  buildRelation
     * description: ✅获取表格数据
     * main:   [{"function":"doBuildRelation"}]
     */
    async doBuildRelation({item: {classId}}) {
      this.isAllotEditDrawerShow = false;
      window.vtoast.loading("正在新增");
      await this.buildRelationImpl(classId);
      window.vtoast.success("新增成功");
    },
    async buildRelationImpl(classId) {
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'classManagementOfOneStudent',
            actionId: 'insertItem',
            actionData: {studentId: this.studentId, classId}
          }
        }
      });
    },


    /**
     * uiActionId:  startUpdateItem
     * description: ✅获取表格数据
     * main:   [{"function":"prepareItemData"},{"function":"openUpdateDialog"}]
     */
    async prepareItemData({item}) {
      this.editItem = {...item};
    },

    async openUpdateDialog() {
      this.isEditDrawerShow = true;
    },

    /**
     * uiActionId:  updateItem
     * description: ✅获取表格数据
     * before: [{"function":"confirmUpdateItemDialog"}]
     * main:   [{"function":"doUpdateItem"},{"function":"refreshTableData"}]
     * after:  [{"function":"closeDrawerShow"}]
     */
    async confirmUpdateItemDialog() {
      if (await window.confirmDialog({title: "修改", content: "确定修改吗？"}) === false) {
        throw new Error("[confirmUpdateItemDialog] 否");
      }
    },

    async doUpdateItem() {
      const {id, classId, studentId, remark } = this.editItem;
      await window.vtoast.loading("修改数据");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'classManagementOfOneStudent',
            actionId: 'updateItem',
            actionData: { classId, studentId, remark },
            where: {id: id}
          }
        }
      })
      await window.vtoast.success("修改数据成功");
    },

    async closeDrawerShow() {
      this.isAllotEditDrawerShow = false;
    },

    /**
     * uiActionId:  deleteRelation
     * description: ✅获取表格数据
     * before: [{"function":"confirmDeleteItemDialog"}]
     * main:   [{"function":"doDeleteRelation"},{"function":"refreshTableData"}]
     */
    async confirmDeleteItemDialog() {
      if (await window.confirmDialog({title: "删除", content: "确定删除吗？"}) === false) {
        throw new Error("[confirmDeleteItemDialog] 否");
      }
    },
    async doDeleteRelation({item}) {
      window.vtoast.loading("删除中");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'classManagementOfOneStudent',
            actionId: 'deleteItem',
            where: {id: item.id}
          }
        }
      });
      window.vtoast.success("删除成功");
    },
    drawerItemSelected({item, value}) {
      console.log(item, value);
      if (value) {
        this.drawerItemSelectedClass.push(item);
      } else {
        this.drawerItemSelectedClass = _.filter(this.drawerItemSelectedClass, ['classId', item.classId]);
      }
    },
    drawerToggleSelectAll({items, value}) {
      console.log(items, value);
      if (value) {
        this.drawerItemSelectedClass = items;
      } else {
        this.drawerItemSelectedClass = [];
      }
    },
    dayjs: dayjs,
  }
})
</script>
{% endblock %}
