{% extends 'template/jhTemplateV3.html'%}

<!-- 3 table：指定某个 class，管理 student 的页面 -->


<!-- vue template 代码块 -->
{% block vue_template %}
<jh-layout-v3>
<template slot="breadcrumbsTitle">
  <div>
    班级【{{ title }}】的学生管理
    <span style="font-size: 14px;" >(ID: {{ studentId }})</span>
  </div>
</template>
<v-container class="fullScreen d-flex flex-column pa-0">
  <v-card :class="{'px-2': isMobile}">
    <v-row class="ma-0 align-center flex-none pt-0 "
           :class="{'pa-4': !isMobile, 'pb-0': !isMobile, 'pa-2': isMobile}">
      <v-col cols="12" xs="12" sm="4" md="4" xl="4" class="pl-0 ">
        <v-btn dark color="success" @click="isAllotEditDrawerShow = true" class="elevation-0 mr-2">分配新学生</v-btn>
        <span class="body-2">共{{ tableData.length }}条记录</span>
      </v-col>
      <v-spacer></v-spacer>
      <v-col cols="12" xs="12" sm="4" md="3" xl="3" class="px-0">
        <v-text-field dense filled single-line v-model="searchInput" color="success" prefix="表格过滤：" class="cus-v-input"></v-text-field>
      </v-col>
    </v-row>
    <v-data-table fixed-header :headers="headers" :items="tableData" :search="searchInput"
                  :footer-props="{ itemsPerPageOptions: [20, 40, 60, 100, -1] }" :items-per-page="20"
                  :loading="isTableLoading" checkbox-color="success" mobile-breakpoint="0" :class="{'mx-2': isMobile}"
                  class="elevation-0 mt-0 mb-xs-4 flex-fill d-flex flex-column">

      <template v-slot:item.operationAt="{ item }">
        {{ item.operationAt && dayjs(item.operationAt).format('YYYY-MM-DD HH:mm:ss') }}
      </template>
      <template v-slot:item.action="{ item }">
        <v-btn small class="success" @click="doUiAction('startUpdateItem', {item})">
          编辑
        </v-btn>
        <v-btn small class="error" @click="doUiAction('deleteRelation', {item})">
          删除
        </v-btn>
      </template>
    </v-data-table>

  </v-card>
</v-container>
<v-overlay app :value="isAllotEditDrawerShow || isEditDrawerShow"></v-overlay>

<v-navigation-drawer v-model="isAllotEditDrawerShow" fixed temporary right
                     touchless width="80%" hide-overlay class="elevation-24">
  <v-container class="navDrawerContainer">
    <v-row class="pt-8" :class="{'px-4': isMobile, 'px-12': !isMobile}">
      <v-btn class="mt-0" dark color="success" elevation="0" @click="doUiAction('allotItem')">保存选中</v-btn>
      <v-spacer></v-spacer>
      <v-btn class="mt-0 elevation-0" fab x-small @click="isAllotEditDrawerShow = false">
        <v-icon dark>mdi-close</v-icon>
      </v-btn>
    </v-row>
    <v-row class="pa-2 py-0">
      <v-data-table show-select checkbox-color="success" :headers="headers"
                    :loading="isDrawerTableLoading" :items="drawerTableData" item-key="studentId"
                    :footer-props="{ itemsPerPageOptions: [20, 40, 60, 100, -1] }" :items-per-page="20"
                    mobile-breakpoint="0" @item-selected="drawerItemSelected"
                    @toggle-select-all="drawerToggleSelectAll"
                    class="elevation-0 flex-fill d-flex flex-column show-select  pt-6"
                    :class="{'px-2': isMobile, 'px-8': !isMobile}">
        <template v-slot:item.action="{ item }">
          <v-btn small dark class="success"
                 @click="doUiAction('buildRelation', {item})">新增
          </v-btn>
        </template>
      </v-data-table>
    </v-row>
  </v-container>
</v-navigation-drawer>

<!-- 编辑抽屉 -->
<v-navigation-drawer v-model="isEditDrawerShow" fixed temporary right width="80%"
                     hide-overlay
                     class="elevation-24">
  <v-form v-model="isFormValid" v-if="isEditDrawerShow" ref="form" lazy-validation>
    <v-row class="pt-8">
      <span class="title pa-6" :class="{'pl-12': !isMobile, 'px-6': isMobile}">编辑信息</span>
      <v-spacer></v-spacer>
      <v-btn class="mt-7 mr-8 elevation-0" :class="{'mr-16': !isMobile, 'mr-8': isMobile}" fab x-small @click="isEditDrawerShow = false">
        <v-icon dark>mdi-close</v-icon>
      </v-btn>
    </v-row>
    <v-row :class="{'px-10': !isMobile, 'px-3': isMobile, 'pb-7': isMobile}">

      <v-col cols="12" sm="12" md="4" :class="{'pa-0': isMobile, 'px-3': isMobile, 'pt-6': isMobile}">
        <span class="inputLabel">学生ID</span>
        <v-text-field class="cus-v-input mr-2" dense filled single-line label="学生ID"
                      v-model="editItem['studentId']"></v-text-field>
      </v-col>
      <v-col cols="12" sm="12" md="4" :class="{'pa-0': isMobile, 'px-3': isMobile, 'pt-6': isMobile}">
        <span class="inputLabel">班级ID</span>
        <v-text-field class="cus-v-input mr-2" dense filled single-line label="班级ID"
                      v-model="editItem['classId']"></v-text-field>
      </v-col>
      <v-col cols="12" sm="12" md="4" :class="{'pa-0': isMobile, 'px-3': isMobile, 'pt-6': isMobile}">
        <span class="inputLabel">备注</span>
        <v-text-field class="cus-v-input mr-2" dense filled single-line label="备注" v-model="editItem['remark']"></v-text-field>
      </v-col>
    </v-row>
    <v-row class="justify-end mx-0 mt-8" :class="{'px-10': !isMobile, 'px-2': isMobile, 'mb-8': isMobile}">
      <v-btn color="success"  @click="doUiAction('updateItem')">保存
      </v-btn>
      <v-btn class="elevation-0 mr-2 ml-2"  @click="isEditDrawerShow = false">取消
      </v-btn>
    </v-row>
  </v-form>
</v-navigation-drawer>
</jh-layout-v3>
{% endblock %}

{% block vue_body %}

<script type="module">

new Vue({
  el: '#app',
  template: '#app-template',
  vuetify: new Vuetify(),
  mixins: [window.jianghuUiActionMixins],
  data: () => ({
    classId: null,
    title: null,
    searchInput: null,
    isTableLoading: true,
    isDrawerTableLoading: true,
    isAllotEditDrawerShow: false,
    isEditDrawerShow: false,
    headers: [
      {text: '学生ID', value: 'studentId', width: 120},
      {text: '班级ID', value: 'classId', width: 120},
      {text: '备注', value: 'remark', width: 120},
      {text: "操作者", value: "operationByUser", width: 120},
      {text: "操作时间", value: "operationAt", width: 250},
      {text: '操作', value: 'action', align: 'center', sortable: false, width: 200, class: 'fixed', cellClass: 'fixed'},
    ],
    drawerHeaders: [

      {text: '学生ID', value: 'studentId', width: 120},
      {text: '学生名字', value: 'name', width: 120},
      {text: '性别', value: 'gender', width: 120},
      {text: '出生日期', value: 'dateOfBirth', width: 120},
      {text: '班级ID', value: 'classId', width: 120},
      {text: '年级', value: 'level', width: 120},
      {text: '身高', value: 'bodyHeight', width: 120},
      {text: '学生状态', value: 'studentStatus', width: 120},
      {text: '备注', value: 'remarks', width: 120},
      {text: "操作者", value: "operationByUser", width: 120},
    ],
    drawerTableDataFromBackend: [],
    tableDataFromBackend: [],
    drawerItemSelectedClass: [],
    isFormValid: true,
    requireRules: [
      v => !!v || 'This is required',
    ],
    constantCollection: {},
    editItem: {}
  }),
  computed: {
    isMobile() {
      return window.innerWidth < 600;
    },
    // 表格内容，即当前班级下的学生
    tableData() {
      return this.tableDataFromBackend;
    },
    // 弹出抽屉的内容，即：所有学生 - 当前班级下的学生
    drawerTableData() {
      if (_.isEmpty(this.drawerTableDataFromBackend)) {
        return [];
      }
      return _.differenceBy(this.drawerTableDataFromBackend, this.tableData, 'studentId');
    }
  },
  watch: {},
  async created() {
    const urlParams = new URLSearchParams(location.search);
    const classId = urlParams.get('classId');
    const title = urlParams.get('title');
    if (classId && title) {
      this.classId = classId;
      this.title = title;
    } else {
      setTimeout(() => {
        window.vtoast.fail('请从"班级列表"点击"学生"进入');
      }, 1000);
      return;
    }
    this.doUiAction('refreshTableData');
    await this.doUiAction('getDrawerTableData');
  },
  mounted() {
  },
  methods: {
    // 获取所有班级的数据
    /**
     * uiActionId:  refreshTableData
     * description: ✅获取表格数据
     * main:   [{"function":"refreshTableData"}]
     */
    async refreshTableData() {
      this.isTableLoading = true;
      const result = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'studentManagementOfOneClass',
            actionId: 'selectCurrentList',
            where: {classId: this.classId},
            orderBy: [{column: 'operationAt', order: 'desc'}]
          }
        }
      });
      this.tableDataFromBackend = result.data.appData.rows;
      this.isTableLoading = false;
    },

    // 获取所有学生的数据
    /**
     * uiActionId:  getDrawerTableData
     * description: ✅获取内表格数据
     * main:   [{"function":"getDrawerTableData"}]
     */
    async getDrawerTableData() {
      this.isDrawerTableLoading = true;
      const result = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'studentManagementOfOneClass',
            actionId: 'selectAllList',
            orderBy: [{column: 'operationAt', order: 'desc'}]
          }
        }
      });
      this.drawerTableDataFromBackend = result.data.appData.rows;
      this.isDrawerTableLoading = false;
    },

    /**
     * uiActionId:  allotItem
     * description: ✅获取表格数据
     * main:   [{"function":"confirmAllotItemDialog"},{"function":"doAllotItem"}]
     */
    async confirmAllotItemDialog() {
      this.isAllotEditDrawerShow = true;
      return window.confirmDialog({title: '确定将学生分配给此班级吗', content: '确定分配吗？'})
    },

    async doAllotItem() {
      this.isAllotEditDrawerShow = false;
      for (let i = 0; i < this.drawerItemSelectedClass.length; i++) {
        window.vtoast.loading(`正在新增 第${i + 1}个`);
        const {studentId} = this.drawerItemSelectedClass[i];
        await this.buildRelationImpl(studentId);
      }
      window.vtoast.success("批量新增成功");
      this.drawerItemSelectedClass = [];
    },

    /**
     * uiActionId:  buildRelation
     * description: ✅获取表格数据
     * main:   [{"function":"doBuildRelation"}]
     */
    async doBuildRelation({item: {studentId}}) {
      this.isAllotEditDrawerShow = false;
      window.vtoast.loading("正在新增");
      await this.buildRelationImpl(studentId);
      window.vtoast.success("新增成功");
    },
    async buildRelationImpl(studentId) {
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'studentManagementOfOneClass',
            actionId: 'insertItem',
            actionData: {classId: this.classId, studentId}
          }
        }
      });
    },


    /**
     * uiActionId:  startUpdateItem
     * description: ✅获取表格数据
     * main:   [{"function":"prepareItemData"},{"function":"openUpdateDialog"}]
     */
    async prepareItemData({item}) {
      this.editItem = {...item};
    },

    async openUpdateDialog() {
      this.isEditDrawerShow = true;
    },

    /**
     * uiActionId:  updateItem
     * description: ✅获取表格数据
     * before: [{"function":"confirmUpdateItemDialog"}]
     * main:   [{"function":"doUpdateItem"},{"function":"refreshTableData"}]
     * after:  [{"function":"closeDrawerShow"}]
     */
    async confirmUpdateItemDialog() {
      return window.confirmDialog({title: '修改', content: '确定修改吗？'});
    },

    async doUpdateItem() {
      const {id, ...data} = this.editItem;
      await window.vtoast.loading("修改数据");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'studentManagementOfOneClass',
            actionId: 'updateItem',
            actionData: data,
            where: {id: id}
          }
        }
      })
      await window.vtoast.success("修改数据成功");
    },

    async closeDrawerShow() {
      this.isAllotEditDrawerShow = false;
    },

    /**
     * uiActionId:  deleteRelation
     * description: ✅获取表格数据
     * before: [{"function":"confirmDeleteItemDialog"}]
     * main:   [{"function":"doDeleteRelation"},{"function":"refreshTableData"}]
     */
    async confirmDeleteItemDialog() {
      return window.confirmDialog({title: '确认将学生从班级删除？'})
    },
    async doDeleteRelation({item}) {
      window.vtoast.loading("删除中");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'studentManagementOfOneClass',
            actionId: 'deleteItem',
            where: {id: item.id}
          }
        }
      });
      window.vtoast.success("删除成功");
    },
    drawerItemSelected({item, value}) {
      console.log(item, value);
      if (value) {
        this.drawerItemSelectedClass.push(item);
      } else {
        this.drawerItemSelectedClass = _.filter(this.drawerItemSelectedClass, ['studentId', item.studentId]);
      }
    },
    drawerToggleSelectAll({items, value}) {
      console.log(items, value);
      if (value) {
        this.drawerItemSelectedClass = items;
      } else {
        this.drawerItemSelectedClass = [];
      }
    },
    dayjs: dayjs,
  }
})
</script>
{% endblock %}
